CacheControl==0.12.6
certifi==2020.6.20
chardet==3.0.4
-e git+https://github.com/digital-land/govuk-jinja-components.git@e8875b3adf6a2060f78d5a0bd34a8f6b93bdde54#egg=govuk_jinja_components
idna==2.10
Jinja2==2.11.2
lockfile==0.12.2
MarkupSafe==1.1.1
msgpack==1.0.0
numpy==1.19.1
pandas==1.1.2
python-dateutil==2.8.1
pytz==2020.1
requests==2.24.0
six==1.15.0
urllib3==1.25.10
