{% extends "digital-land-frontend/dlf-base.html" %}
{% from "digital-land-frontend/components/filter-group/macro.html" import dlFilterGroup %}
{% from "digital-land-frontend/components/dl-helpers.html" import random_int %}

{% from "local-plan-macros/local-plan-card.jinja" import localPlanCard %}

{% block pageTitle %}List of local plans | Digital Land{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    "classes": "govuk-width-container",
    "tag": {
      "text": "prototype"
    },
    "html": 'This is a prototype. Please provide feedback to the Digital Land team.'
  }) }}

  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Digital Land",
        "href": "https://digital-land.github.io/"
      },
      {
        "text": "Local plans"
      }
    ]
  }) }}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">
        <span class="govuk-caption-xl">Development plans</span>
  	    <h1 class="govuk-heading-xl">Local plans</h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m">Filters</h3>
        <form class="govuk-form" data-facet-search="form">

            <div class="govuk-!-margin-bottom-6" data-module="selected-counter" data-facet-search="filter" data-facet-search-type="radio" data-facet-search-name="is-joint-plan">
                {% call dlFilterGroup({
                    "title": "Joint plan",
                    "is_open": False,
                    "selected": 0
                }) %}
                <div class="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="joint-yes" name="joint-plan" type="radio" value="true">
                    <label class="govuk-label govuk-radios__label" for="joint-yes">
                      Yes
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="joint-no" name="joint-plan" type="radio" value="false">
                    <label class="govuk-label govuk-radios__label" for="joint-no">
                      No
                    </label>
                  </div>
                </div>
                {% endcall %}
            </div>

            <div class="govuk-!-margin-bottom-6" data-module="selected-counter" data-facet-search="filter" data-facet-search-type="radio" data-facet-search-name="plan-status">
                {% call dlFilterGroup({
                    "title": "Status",
                    "is_open": False,
                    "selected": 0
                }) %}
                <div class="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="status-pub" name="status" type="radio" value="published">
                    <label class="govuk-label govuk-radios__label" for="status-pub">
                      Published
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="status-sub" name="status" type="radio" value="submitted">
                    <label class="govuk-label govuk-radios__label" for="status-sub">
                      Submitted
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="status-sound" name="status" type="radio" value="sound">
                    <label class="govuk-label govuk-radios__label" for="status-sound">
                      Sound
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="status-adopted" name="status" type="radio" value="adopted">
                    <label class="govuk-label govuk-radios__label" for="status-adopted">
                      Adopted
                    </label>
                  </div>
                </div>
                {% endcall %}
            </div>

            <div class="govuk-form-group" data-facet-search="filter" data-facet-search-type="checkbox" data-facet-search-name="organisation">
                {% call dlFilterGroup({
                    "title": "Organisation",
                    "is_open": False,
                    "selected": 0
                }) %}
                
                {% set randomID_filter = random_int(5) %}
                {% set randomID_list = random_int(5) %}
                <div class="govuk-checkboxes" data-module="filter-checkboxes">
                    <div class="filter-group__auto-filter">
                        <label for="input-f3852fb8" class="govuk-label govuk-visually-hidden">
                        Filter Show only
                        </label>
                        <input name="option-select-filter" id="input-f3852fb8" class="govuk-input filter-group__auto-filter__input" type="text" aria-describedby="checkbox-filter-{{ randomID_filter }}" aria-controls="checkboxes-{{ randomID_list }}">
                    </div>

                    <div role="group">
                        <span id="checkbox-filter-{{ randomID_filter }}" class="filter-group__auto-filter__desc govuk-visually-hidden" aria-live="polite" data-single="option found" data-multiple="options found" data-selected="selected">How many showing</span>
                    
                        <div id="checkboxes-{{ randomID_list }}" class="checkbox-list">
                            {% for id, org in organisations.items() %}
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="local-authority-{{ loop.index}}" name="org" type="checkbox" value="{{ id }}">
                                <label class="govuk-label govuk-checkboxes__label" for="local-authority-{{ loop.index }}">
                                  {{ org[0]['name'] }}
                                </label>
                              </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endcall %}
            </div>

            <div class="govuk-form-group" data-facet-search="filter" data-facet-search-type="text" data-facet-search-name="number-of-documents">
                <label class="govuk-label" for="document-number">
                    Associated documents
                </label>
                <span class="govuk-hint">For example, 2</span>
                <input class="govuk-input govuk-input--width-4" id="document-number" name="document-number" type="text">
            </div>

            <div class="govuk-form-group" data-facet-search="filter" data-facet-search-type="text" data-facet-search-name="year-adopted">
                <label class="govuk-label" for="year-adopted">
                    Year adopted
                </label>
                <span class="govuk-hint">For example, 2012</span>
                <input class="govuk-input govuk-input--width-4" id="year-adopted" name="year-adopted" type="text">
            </div>

            <div class="govuk-form-group">
                <button class="govuk-button" data-facet-search="submit">Filter</button>
                <a class="govuk-link link-align-btn" href="">Clear</a>
            </div>
        </form>
    </div>
    <div class="govuk-grid-column-two-thirds">
        <div class="facet-search-wrapper" data-facet-search="list">
            <div class="facet-search__showing">
                <p class="govuk-body">Showing <span class="facet-search__count">{{ data|length }}</span> of <span class="facet-search__total-count">{{ data|length }}</span> records.</p>
            </div>
            <ul class="govuk-list">
                {% for plan in data -%}

                {%- if plan['status'] %}
                    {%- set date = plan['status']['current']['date'].split('-') %}
                    {%- set year = date[0] %}
                {% endif -%}
                {%- set currentStatus = plan['status']['current']['status'] if plan['status'] else "" %}

                {{ localPlanCard({
                    "attributes": {
                        "data-facet-search": "item",
                        "data-number-of-documents": plan['document']|length,
                        "data-plan-status": currentStatus,
                        "data-organisation": plan['organisations'],
                        "data-year-adopted": year if plan['status'] else "",
                        "data-is-joint-plan": "true" if plan['organisations'].split(";")|length > 1 else "false"
                    },
                    "plan": plan
                }) }}

                {%- endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block bodyEndScripts %}
{{ super()}}
<script>
    {% include 'filter.js' %}

    const $form = document.querySelector('[data-facet-search="form"]');
    const $list = document.querySelector('[data-facet-search="list"]');
    new window.DLFrontend.FacetSearch($list, $form).init({})

    var $filters = document.querySelectorAll('[data-module="selected-counter"]')
    $filters.forEach(filter => {
        new window.DLFrontend.SelectedCounter(filter).init()
    })

    var $filterCheckboxes = document.querySelectorAll('[data-module="filter-checkboxes"]')
    $filterCheckboxes.forEach(el => {
        new window.DLFrontend.FilterCheckboxes(el).init()
    })
</script>
{% endblock %}